.homeIndex_heading3{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
.homeIndex_button_box{
  margin-top: 30px;
  text-align: center;
}

.homeIndex_newGroupButton_text{
  margin: 0 auto 60px;
  width: 50%;
  line-height: 70px;
  background-color: #ee7800;
  font-weight: bold;
  padding: 0 10px;
}

.homeIndex_newPendingMembershipButton_text{
  margin: 0 auto 60px;
  width: 50%;
  line-height: 70px;
  background-color: #89c3eb;
  font-weight: bold;
  padding: 0 10px;
}