.main{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.main_box{
  width: 80vw;
}

.noticeIndex_indexButton_box{
  display: flex;
  justify-content: space-around;
}

.noticeIndex_noticeIndexButton{
  padding: 30px 0;
  width: 50%;
  text-align: center;
  align-items: center;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
}
.noticeIndex_circularIndexButton{
  padding: 30px 0;
  width: 50%;
  text-align: center;
  align-items: center;
  background-color: #c0c6c9;
  font-size: 20px;
}

.noticeIndex_circularIndexButton:hover{
  background-color: #afafb0;
}

.noticeIndex_displayStyle_btn{
  margin: 30px 0;
  font-weight: bold;
}

.current_style{
  border-bottom: 3px solid black;
}

.notice_item{
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 30px;
  padding: 25px;
}

.notice_header_info{
  display: flex;
  justify-content: space-between;
}

.notice_tag{
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  width: 60px;
  font-weight: bold;
  text-align: center;
}

.green{
  background-color: #98d98e;
}

.blue{
  background-color: #89c3eb;
}

.yellow{
  background-color: yellow;
}

.red{
  background-color: #e83929;
}

.notice_header_day{
  color: gray;
  font-size: 13px;
}

.notice_title{
  margin: 3px 0;
  font-size: 30px;
  font-weight: bold;
}

.link{
  text-decoration: none;
  color: black;
}

.notice_user_name{
  font-size: 14px;
  color: gray;
}
.notice_content{
  margin-top: 8px;
}
.notice_footer{
  margin: 5px;
  display: flex;
  justify-content: end;
}
.notice_reads{
  color: gray;
  font-size: 14px;
}

.new_btn{
  width: 120px;
  background: #fff;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}
.new_btn_text{
  color: black;
  display: block;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.new_btn_icon{
  width: 60%;
}

/* calendar */
.simple-calendar {
  .day {
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: #c1e4e9 !important;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
  }
  .next-month {
  }
  .current-month {
    
  }

  .has-events {}
}

.calendar-heading{
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.calendar-title{
  font-size: 24px;
}