/* searchBox **********************************************/
.noticeIndex_search_box{
  width: 100%;
}
.noticeIndex_search_form{
  margin: 15px 0;
  padding: 12px;
  background-color: #dcdddd;
  border-radius: 5px;
  display: flex;
}
.noticeIndex_search_inputbox{
  width: 80%;
}
.noticeIndex_search_textField{
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}
.noticeIndex_search_checkbox{

}
.noticeIndex_search_commit{
  width: 20%;
  line-height: 50px;
  text-align: center;
}
.noticeIndex_search_commit_text{
  padding: 10px 20px;
  font-weight: bold;
}

/* /searchBox **********************************************/


.noticeIndex_displayStyle_btn{
  margin: 20px 0;
  font-weight: bold;
}

.current_style{
  border-bottom: 3px solid black;
}

.noticeIndex_schedule_title{
  font-size: 22px;
  font-weight: bold;
}

.notice_item{
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 30px;
  padding: 25px;
}

.notice_header_info{
  display: flex;
  justify-content: space-between;
}

.notice_tag{
  color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  width: 60px;
  font-weight: bold;
  text-align: center;
}

.green{
  background-color: #98d98e;
}

.blue{
  background-color: #89c3eb;
}

.yellow{
  background-color: yellow;
}

.red{
  background-color: #e83929;
}

.notice_header_day{
  color: gray;
  font-size: 13px;
}

.notice_title{
  font-size: 30px;
  font-weight: bold;
}

.link{
  text-decoration: none;
  color: black;
}

.notice_user_name{
  font-size: 14px;
  color: gray;
  padding-bottom: 10px;
}
.notice_content{
  margin-top: 8px;
}
.notice_footer{
  margin: 5px;
  display: flex;
  justify-content: end;
}
.notice_reads{
  color: gray;
  font-size: 14px;
}

.new_btn{
  width: 100px;
  background: #fff;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
}
.new_btn_text{
  color: black;
  display: block;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
.new_btn_icon{
  width: 60%;
}

/* calendar */
.noticeIndex_calendarTitle{
  font-size: 13px;
}

.simple-calendar {

  .day:nth-child(even) {
    background-color: white;
  }

  .day:nth-child(odd) {
    background-color: #eaf4fc;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    color: red;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    color: gray;
  }
  .next-month {
    color: gray;
  }
  .current-month {
    
  }

  .has-events {}
}

.calendar-heading{
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.calendar-title{
  font-size: 24px;
}