.show_edit_delete_btn{
  margin-top: 20px;
}

a.edit_btn, a.delete_btn {
  font-size: 18px;
  color: #000;
  background-color: #a0d8ef;
  border-bottom: 5px solid #89c3eb;
  margin-right: 20px;
  font-weight: bold;
  
}

a.delete_btn{
  background-color: #f6b894;
  border-bottom: 5px solid #f19072;
}

a.edit_btn:hover, a.delete_btn:hover{
  margin-top: 3px;
  color: #000;
  background: #e6eae3;
  border-bottom: 2px solid #e6eae3;
}

.noticeShow_comments_box{
  margin-top: 30px;
  width: 100%;
}
.noticeShow_comments_heading2_title{
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-weight: bold;
}
.noticeShow_comments_form_box{
  height: 80px;
  width: 100%;
  display: flex;
}
.noticeShow_comments_form{
  width: 100%;
  height: 62px;
  margin-top: 5px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}
.noticeShow_comments_form_commit{
  width: 20%;
  margin-top: 5px;
  height: 100%;
  background-color: #a0d8ef;
  border: none;
}
.noticeShow_comments_form_commit:hover{
  background-color: #89c3eb;
}
.noticeShow_commentsIndex_box{
  margin-top: 30px;
}
.noticeShow_comment_box{
  margin-bottom: 7px;
}
.noticeShow_comment_userNickname{
  color: gray;
}
.noticeShow_comment_text{
  margin-left: 30px;
}