<%= month_calendar events: notices do |date, notices| %>
  <%= link_to(group_notices_path(current_group, schedule: date), data: { turbo: false }, class: "link") do %>
    <%= date.day %>

    <% notices_count = notices.select { |notice| notice.schedule == date }.count %>
    <% if notices_count > 0 %>
      <div class= "noticeCalendar_count">
        <%= notices_count %>件
      </div>
    <% end %>

  <% end %>
<% end %>