<div class= "main">
  <div class= "main_box">

    <%= link_to "戻る", group_notices_path(current_group) %>

    <%= render partial: "form", locals: { notice: @notice, url: group_notices_path(current_group) } %>

  </div>
</div>