.blueButton{
  padding: 5px 15px;
  font-weight: bold;
  background-color: #a0d8ef;
}

.blueButton:hover{
  background-color: #89c3eb;
}

.redButton{
  padding: 5px 15px;
  background-color: #f3bf88;
}

.redButton:hover{
  background-color: #f19072;
}

.greenButton {
  padding: 10px 15px;
  font-weight: bold;
  background-color: #badcad;
}
.greenButton:hover{
  background-color: #88cd7f;
}