.blueButton{
  padding: 5px 15px;
  background-color: #a0d8ef;
}

.blueButton:hover{
  background-color: #89c3eb;
}

.redButton{
  padding: 5px 15px;
  background-color: #f3bf88;
}

.redButton:hover{
  background-color: #f19072;
}

.greenButton {
  text-decoration: none;
  font-size: 1em;
  box-shadow: 0 5px 0 #99ab4e;
}
.greenButton:hover {
  color: #000;
  opacity: 0.6;
}