/* table ***************************************************************************/
table{
  border-collapse: collapse;
  border: 1.5px solid black;
  border-spacing: 0;
  width: 100%;
}

table tr:nth-child(odd){
  background-color: white;
}

table tr:nth-child(even){
  background-color: #f0f0f0;
}

table th,table td{
  text-align: center;
  /* width: 25%; */
  padding: 15px 0;
}

table th{
  background-color: #e7e7eb;
  font-weight: bold;
}

/* /table ***************************************************************************/