<div class= "main">
  <div class= "main_box">
    <%= link_to(root_path, class: "link") do %>
      <%= image_tag "back.png", size: "40x40", class: "back_image" %>
    <% end %>
    
    <div class= "page_title">
      <div class= "page_title_text">
        グループ新規作成
      </div>
    </div>
    
    <%= render partial: "form", locals: { group: @group, url: groups_path } %>

  </div>
</div>