<% if model && model.errors.any? %>
  <div class= "error_container">
    <div class= "error_box">
      <div class= "error_title_box">
        <%= pluralize(model.errors.count, "個所") %> のエラーを検知しました
      </div>
      <div class= "error_message_box">
        <ul class= "error_massage_list">
          <% model.errors.full_messages.each do |message| %>
            <li class= "error_message"><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>