<header class="header">
  <div class="app_title">townfo</div>
  <ul class="nav_lists">
    <li class="nav_list">groupname</li>
    <li class="nav_list">username</li>
    <li class="nav_list">ログアウト</li>
    <!-- オーナーの場合 -->
    <li class="nav_list">ユーザー管理</li>
  </ul>
</header>