

<div class= "index_btn_box">
  <%= link_to(group_notices_path(current_group), class: ["index_btn_link", current_page?(group_notices_path(current_group)) ? "index_btn_active" : nil].compact.join(" ")) do %>
    <span class= "index_btn_text <%= "index_btn_text_active" if current_page?(group_notices_path(current_group)) %>">お知らせ</span>
  <% end %>
  <%= link_to(group_circulars_path(current_group), class: ["index_btn_link", current_page?(group_circulars_path(current_group)) ? "index_btn_active" : nil].compact.join(" ")) do %>
    <span class= "index_btn_text <%= "index_btn_text_active" if current_page?(group_circulars_path(current_group)) %>">回覧板</span>
  <% end %>
</div>
