<div class= "main">
  <div class= "main_box">
    
    <% if current_user && current_user.pending_groups.length != 0 %>
      <p style= "margin-top: 30px; text-align: center;">
        既に、「<%= current_user.pending_groups.first.name %>」へ加入申請済みです。<br>
        オーナーからの承認まで、しばらくお待ちください。
      </p>
    <% else %>
      <div class= "homeIndex_heading3">
        どちらかを選んで、townfoを始めよう！
      </div>

      <div class= "homeIndex_button_box">
        <%= link_to(new_group_path, class: "link") do %>
          <div class= "homeIndex_newGroupButton_text">
            グループを立ち上げる
          </div>
        <% end %>
        <%= link_to(new_pending_membership_path, class: "link") do %>
          <div class= "homeIndex_newPendingMembershipButton_text">
            グループに参加する
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>

