<div class= "main">
  <div class= "main_box">
    <div class= "homeIndex_heading3">
      どちらかを選んで、townfoを始めよう！
    </div>

    <div class= "homeIndex_buttonbox">
      <%= link_to(new_group_path, class: "homeIndex_newGroupButton link") do %>
        <div class= "homeIndex_newGroupButton_text">
          グループを立ち上げる
        </div>
      <% end %>
      <%= link_to(new_pending_membership_path, class: "homeIndex_newPendingMembershipButton link") do %>
        <div class= "homeIndex_newPendingMembershipButton_text">
          グループに参加する
        </div>
      <% end %>
    </div>
  </div>
</div>

