.circularIndex_indexButton_box{
  display: flex;
  width: 100%;
}
.circularIndex_noticeIndexButton{
  width: 100%;
  padding: 5px 0;
  background-color: #887f7a;
  text-align: center;
}
/* .circularIndex_noticeIndexButton_text{

} */
.circularIndex_circularIndexButton{
  width: 100%;
  padding: 5px 0;
  text-align: center;
}
.circularIndex_circularIndexButton_text{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.circularIndex_yearFilter_box{
  margin: 30px 0;
}

.circularIndex_yearFilter_select{
  border: none;
}

.circularIndex_yearFilter_submit{
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
}

.circularIndex_yearFilter_submit:hover{
  color: gray;
}