.circularShow_deleteButton{
  margin: 20px 0 30px;
}
.circularShow_pdf_box{
  width: 100%;
}
.circularShow_heading2_title{
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
.circularShow_heading2_title_text{
  font-size: 20px;
  font-weight: bold;
}
.circularShow_pdfLink_box{
  display: flex;
  justify-content: space-around;
  
}
.circularShow_pdfDownload{
  padding: 20px 50px;
  text-align: center;
  align-items: center;
  background-color: red;
}
.circularShow_pdfDisplay{
  padding: 20px 50px;
  text-align: center;
  align-items: center;
  background-color: blue;
}
.circularShow_read{
  margin-top: 30px;
  width: 100%;
  text-align: center;
  background-color: green;
}
.circularShow_owner_box{}
.circularShow_readManager{}