.mypage{
  padding-bottom: 30px;
  margin: 30px 0;
  border-bottom: 1px solid black;
}

.user_name{
  font-weight: bold;
  font-size: 24px;
}

.user_email{
  font-size: 18px;
}

.user_edit_btn{
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 5px;
  width: 150px;
  margin-top: 10px;
}

.user_notice{
  font-size: 24px;
  font-weight: bold;
}